<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->

<!--  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
DO NOT REMOVE THIS CREDIT. EVER!
          _____                    _____             _____          
         /\    \                  /\    \           /\    \         
        /::\    \                /::\____\         /::\    \        
       /::::\    \              /::::|   |         \:::\    \       
      /::::::\    \            /:::::|   |          \:::\    \      
     /:::/\:::\    \          /::::::|   |           \:::\    \     
    /:::/  \:::\    \        /:::/|::|   |            \:::\    \    
   /:::/    \:::\    \      /:::/ |::|   |            /::::\    \   
  /:::/    / \:::\    \    /:::/  |::|   | _____     /::::::\    \  
 /:::/    /   \:::\    \  /:::/   |::|   |/\    \   /:::/\:::\    \ 
/:::/____/     \:::\____\/:: /    |::|   /::\____\ /:::/  \:::\____\
\:::\    \      \::/    /\::/    /|::|  /:::/    //:::/    \::/    /
 \:::\    \      \/____/  \/____/ |::| /:::/    //:::/    / \/____/ 
  \:::\    \                      |::|/:::/    //:::/    /          
   \:::\    \                     |::::::/    //:::/    /           
    \:::\    \                    |:::::/    / \::/    /            
     \:::\    \                   |::::/    /   \/____/             
      \:::\    \                  /:::/    /                        
       \:::\____\                /:::/    /                         
        \::/    /                \::/    /                          
         \/____/                  \/____/                           
                                                                    
Hosted @ CoffeeNutsThemes

       TUMBLR THEME BY PIERA :: THEME 01 - The Old Straits V.2
       Original Released Date: 0ctober 31 2013
       Revamped/Rerelease: June 25 2014
       
                       TERMS & CONDITIONS 
1) PLEASE DO NOT REMOVE ANY CREDITS OR REDISTRIBUTE THE THEME.
2) NEVER USE THIS THEME AS YOUR BASE CODE OR CONTEXTUALLY RIP CODES FOR ANY USE.
3) ALL CREDIT LINKS SHOULD POINT BACK TO ::
   http://coffeestainedbooks.tumblr.com/freebies/cn-themes



          _____                    _____                    _____          
         /\    \                  /\    \                  /\    \         
        /::\    \                /::\    \                /::\    \        
       /::::\    \              /::::\    \              /::::\    \       
      /::::::\    \            /::::::\    \            /::::::\    \      
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \     
    /:::/  \:::\    \        /:::/__\:::\    \        /:::/__\:::\    \    
   /:::/    \:::\    \       \:::\   \:::\    \      /::::\   \:::\    \   
  /:::/    / \:::\    \    ___\:::\   \:::\    \    /::::::\   \:::\    \  
 /:::/    /   \:::\    \  /\   \:::\   \:::\    \  /:::/\:::\   \:::\ ___\ 
/:::/____/     \:::\____\/::\   \:::\   \:::\____\/:::/__\:::\   \:::|    |
\:::\    \      \::/    /\:::\   \:::\   \::/    /\:::\   \:::\  /:::|____|
 \:::\    \      \/____/  \:::\   \:::\   \/____/  \:::\   \:::\/:::/    / 
  \:::\    \               \:::\   \:::\    \       \:::\   \::::::/    /  
   \:::\    \               \:::\   \:::\____\       \:::\   \::::/    /   
    \:::\    \               \:::\  /:::/    /        \:::\  /:::/    /    
     \:::\    \               \:::\/:::/    /          \:::\/:::/    /     
      \:::\    \               \::::::/    /            \::::::/    /      
       \:::\____\               \::::/    /              \::::/    /       
        \::/    /                \::/    /                \::/____/        
         \/____/                  \/____/                  ~~              
                                                                           
Designer @ CoffeeStainedBooks

DO NOT REMOVE THIS CREDIT. EVER!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->


<head> 
      {MobileAppHeaders}
      <meta charset="utf-8" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!-- Google Chrome Frame for IE -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta http-equiv="ImageToolbar" content="false" /> 
      <!-- HTML5 Shiv -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      
      
      <title>{Title}{block:SearchPage} &bull; Search results for &lsquo;{SearchQuery}&rsquo; | {/block:SearchPage}{block:TagPage} &bull; Posts Tagged &lsquo;{Tag}&rsquo; | {/block:TagPage}{block:PostSummary} &bull; {PostSummary} | {/block:PostSummary}</title> 
      {block:Description}<meta name="description" content="{MetaDescription}" />{/block:Description}
      
      <link rel="shortcut icon" href="{image:Favicon}" />
      <link rel="apple-touch-icon-precomposed" href="{PortraitURL-128}" /> 
      <link rel="alternate" type="application/rss+xml" title="{lang:RSS}" href="{RSS}" />
      
      <!-- http://t.co/dKP3o1e -->  
      <meta name="HandheldFriendly" content="True" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="apple-mobile-web-app-capable" content="yes" />
      
      <!-- MISC -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
      <!-- MISC -->
      
      <!-- DO NOT REMOVE ANY CODES -->
      <link rel="stylesheet" type="text/css" media="all" href="http://static.tumblr.com/qvqnij2/9dLmuuylt/c.n.t_css.reset1.css" /> 
      <link rel="stylesheet" type="text/css" media="all" href="http://static.tumblr.com/qvqnij2/wLFmuuyon/c.n.t_reset_css_v2.css" />
      <script type="text/javascript" src="http://static.tumblr.com/qvqnij2/oPUmuuyr4/c.n.t_modernizr.custom.28168.js"></script>
      <!-- DO NOT REMOVE ANY CODES -->
      
      <!-- THEME VARIABLES -->
      <!-- IMAGES -->       
      <meta name="image:Favicon" content="http://static.tumblr.com/qvqnij2/pPWmuvcjm/dip.png" />  
      <meta name="image:Header" content="http://static.tumblr.com/qvqnij2/Q9rmvbfft/the_old_straits_banner.png" />
      <meta name="image:background" content="http://static.tumblr.com/qvqnij2/N1rmv9gay/blue_trees_forests_fog_wallpaper_1280x960_www.wall321.com.jpg" />
      <meta name="image:Book Cover" content="http://static.tumblr.com/qvqnij2/U1Umv8bnl/jk.row.jpg" />
      
      <!-- COLOURS -->
      <meta name="color:Background" content="#A88B6D" />
      <meta name="color:Body Text" content="#444444" />
      <meta name="color:Entry Title" content="#444444" />
      <meta name="color:Link" content="#EDCE33" />
      <meta name="color:Link Hover" content="#F3DF79" />
      <meta name="color:Navigation Link" content="#FFF" />
      <meta name="color:Navigation Link Hover" content="#000000" />
      <meta name="color:Navigation Tab" content="#A88B6D" />
      <meta name="color:Navigation Tab Hover" content="#D7C6B4" />
      <meta name="color:Question Text Colour" content="#FFFFFF" />
      <meta name="color:Question Box" content="#000000" />
      <meta name="color:Border colour" content="#A88B6D" />
      <!-- FONTS -->
      <meta name="font:Body Text" content="Georgia" />
      <!-- MISC -->
      <meta name="if:Fade Images" content="1" />
      <meta name="if:Scroll To Top" content="1" />
      <meta name="if:Disable Right Click" content="1" />
      <!-- OPTIONS -->
      <meta name="if:Show Ask Link" content="1" />
      <meta name="if:Show Archive Link" content="1" /> 
      <meta name="if:Show Submit Link" content="1" /> 
      <meta name="if:Show Custom Links" content="1" /> 
      <meta name="if:Show Custom Tab Links" content="1" /> 
      <meta name="if:Show Extra Pages" content="1" />
      <meta name="if:Show Header Image" content="0" />
      <meta name="if:Show Search Bar" content="1" />
      <meta name="if:Show Currently Reading" content="1" />
      <meta name="if:Show Instagram Widget" content="1" />
      <!-- TEXT INPUT -->
      <meta name="text:Body Font Size" content="13px" /> 
      <meta name="text:Disqus Shortname" content="" />
      <meta name="text:IG Widget Username" content="" />    
      <meta name="text:Goodreads Book Link" content="http://www.goodreads.com/book/show/13497818-the-casual-vacancy" />
      <meta name="text:Book Title" content="The Casual Vacancy" />
      <meta name="text:Book Author" content="J.K. Rowling" />
      <meta name="text:Rating Stars" content="★★★☆☆" />
      <!-- 3 CUSTOM SIDEINFO LINKS -->
      <meta name="text:Custom Tab Link 01" content="http://" />
      <meta name="text:Custom Tab Link 01 Title" content="Tab Link 1" />
      <meta name="text:Custom Tab Link 02" content="http://" />
      <meta name="text:Custom Tab Link 02 Title" content="Tab Link 2" />
      <meta name="text:Custom Tab Link 03" content="http://" />
      <meta name="text:Custom Tab Link 03 Title" content="Tab Link 3" />
      <!-- 8 CUSTOM LINKS -->
      <meta name="text:Link 01" content="http://" />
      <meta name="text:Link 01 Title" content="Link 1" />
      <meta name="text:Link 02" content="http://" />
      <meta name="text:Link 02 Title" content="Link 2" />
      <meta name="text:Link 03" content="http://" />
      <meta name="text:Link 03 Title" content="Link 3" />
      <meta name="text:Link 04" content="http://" />
      <meta name="text:Link 04 Title" content="Link 4" />
      <meta name="text:Link 05" content="http://" />
      <meta name="text:Link 05 Title" content="Link 5" />
      <meta name="text:Link 06" content="http://" />
      <meta name="text:Link 06 Title" content="Link 6" />
      <meta name="text:Link 07" content="http://" />
      <meta name="text:Link 07 Title" content="Link 7" />
      <meta name="text:Link 08" content="http://" />
      <meta name="text:Link 08 Title" content="Link 8" />
      <!-- GOOGLE WEBFONTS -->
      
      <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
      <script>
       WebFont.load({
           google: {
               families: ['Lora:400italic,700italic', 'Montserrat:400,700', 'Roboto:400,500,700']
           }
       });
      </script>



<style type="text/css">
/* Body
------------------------------------------------------------ */
body {margin: 0 auto; padding: 0 0 0 0; word-wrap: break-word; text-align: justify; font-smooth: always; line-height: 1.4em; color: {color:Body Text}; font-family: {font:Body Text}; font-size: {text:Body Font Size}; background: {color:Background} url('{image:Background}') repeat fixed center;}

/* Hyperlinks
------------------------------------------------------------ */
a:link, a:active, a:visited  {color: {color:Link}; text-decoration: none; -webkit-transition: opacity 0.8s linear; -webkit-transition: 0.2s ease-in; -moz-transition: 0.2s ease-in; transition: 0.2s ease-in;}
a:hover {color: {color:Link Hover}; -webkit-transition: 0.2s ease-out; -moz-transition: 0.2s ease-out; transition: 0.2s ease-out;}
a:focus, a:active {outline: none !important; outline-offset: -2px; }

/* Fonts
------------------------------------------------------------ */
.title {
    text-align: left;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    color: {color:Entry Title};
    font-family: 'Montserrat', sans-serif;
    }
    
.title a, .title a:hover {
    color: {color:Entry Title};
    }

h1 {
    font-size: 25px;
    line-height: 26px;
    color: {color:Entry Title};
    font-family: 'Montserrat', sans-serif;
    }
    
h1 a, h1 a:hover {
    color: {color:Entry Title};
    }
    
.quote {
    font-style: italic;
    font-size: 17px;
    font-family: 'Lora', serif; 
    line-height: 17px; 
    letter-spacing: 1px; 
    text-align: left; 
    margin-top: -10px; 
    margin-bottom: 10px;  
    padding: 20px; 
    line-height: 18px;
    word-spacing: 2px;
    }
    
.quoted {
    padding: 10px; 
    letter-spacing: 1px; 
    text-align: center; 
    line-height: 18px;
    font-style: normal;
    font-size: 10px;
    font-family:'Lora', serif; 
    }
        
.link {
    margin: 0px;
    padding: 10px;
    display: block;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: {color:Link};
    font-style: italic !important;
    font-family:'Lora', serif; 
    border-left: 7px Double {color:Link};
    }
        
/* Blog Layout
------------------------------------------------------------ */
#layout {
    width: 950px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 70px auto -20px auto;
    clear: both !important;
    }

/* Header Image
------------------------------------------------------------ */
#Header {
    z-index: 1;
    width: 650px;
    height: 450px;
    max-height: 450px;
    max-width: 650px;
    margin: 0 auto 0 auto;
    display: block;
    margin-bottom: 50px;
    background-position: center;
    background-attachment: relative;
    background-repeat: no-repeat;
    background-image:url("{image:Header}");
    }  
    
/* Sidebar
------------------------------------------------------------ */
#sideinfo_wrap {
    float: left;
    clear: both;
    height: auto;
    width: 310px;
    padding: 3px;
    overflow: hidden;
    }

.side_box {
    width: 270px;
    padding: 20px;
    overflow: hidden;
    background: #fff;
    }

.side_linktabs {
    width: 290px;
    padding: 10px;		
    font-size: 12px;
    font-weight: 500;	
    text-align: center;
    margin-bottom: 2px;
    background-color: #fff;
    color: {color:Entry Title};
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase !important;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.50;
    -moz-opacity: 0.50;
    opacity: 0.50;
    }

.side_linktabs:hover {
    filter: alpha(opacity=90);
    -khtml-opacity: 0.90;
    -moz-opacity: 0.90;
    opacity: 0.90;
    }
    
.Side-Header {
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: {color:Entry Title};
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    border-bottom: 3px solid {color:Border colour};
    }

.bio {
    padding: 0 0px; 
    line-height: 1.5em; 
    margin: 1.5em 0;
    }
    
.Book-Title {
    font-style: italic;
    font-size: 13px;
    font-family: 'Lora', serif; 
    line-height: 17px; 
    text-align: center; 
    padding: 20px; 
    line-height: 18px;
    word-spacing: 2px;
    }
    
.Book-Author {
    font-style: normal;
    font-size: 13px;
    font-family: 'Lora', serif; 
    line-height: 17px; 
    text-align: center; 
    padding: 20px; 
    word-spacing: 2px;
    }
    
.Book-Review {
    font-weight:700;
    font-style: normal;
    font-size: 11px;
    line-height: 17px; 
    text-align: center; 
    margin-bottom: 20px; 
    word-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    }

.Book-Review  .stars {
    font-size: 16px;
    font-weight: 100;
    font-family: 'Georgia' !important;
    }
    
.Book-Cover {
    opacity: 1.0;
    height: 210px;
    width: 150px;
    margin: 10px 0 0 0;
    -webkit-box-shadow:0px 4px 8px #999;
    -moz-box-shadow:0px 4px 8px #999;
    box-shadow:0px 4px 8px #999;
    }
    
.top_tabs {
    width: 260px;  
    margin: 0px 0px 3px 0;
    }

.top_tabs a {
    width: 58px;
    height: auto;
    font-size: 9px;
    text-align: center;
    display: inline-block;
    padding: 2px 2px 2px 2px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: {color:Navigation Link};
    background: {color:Navigation Tab};
    -webkit-transition: opacity 0.7s linear;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    }

.top_tabs a:hover {
    text-align:center;
    color: {color:Navigation Link Hover};
    background: {color:Navigation Tab Hover};
    -webkit-transition: opacity 0.7s linear;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    }

.top_tab_heading {
    width: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: {color:Entry Title};
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: Help;
    }
    
.nav_tabs {
    display: none;
    margin: 2px 0;
    background: transparent;
    }

/* Entry content
------------------------------------------------------------ */
#entry-content {
    float: right;
    width: 590px;
    padding: 3px;
    overflow: hidden;
    }

.entry-box_wrap {
    width: 570px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 55px;
    background: #FFF;
    }
    
.entry-box {
    width: 550px;
    padding: 10px;
    overflow: hidden;
    background: #FFF;
    }
    
.entry-box img {
    max-width: 550px;
    }

/* Entry post info
------------------------------------------------------------ */
.entry-posted_info {
    margin: 20px 0px 7px;
    border-top: 3px solid {color:Border colour};
    }
 
.entry-posted_date {
    z-index: 4;
    padding: 5px 20px;
    width: auto;
    float: right;
    background: #FFF;
    position: relative;
    font-size: 9px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: -12px 20px 4px 0;
    }

/* Video
------------------------------------------------------------ */
.video embed, 
.video object, 
.video iframe { 
    width: 550px !important; 
    max-height: auto; 
    line-height: 0;   
    display:block;
    }

/* Conversation
------------------------------------------------------------ */
.conversation_post p {
    margin: 0;
    padding: 10px 0;
    line-height: 25px;
    font-weight: normal;
    border-bottom: 1px solid #E1E1E1;
    }
    
.conversation_post p:last-child {
    border-bottom: 0;
    }
    
.conversation_post p:first-child {
    border-top: 0;
    background: none;
    }
    
.label {
    border-right: 2px Dotted {color:Border colour};
    padding-right: 20px;
    font-size: 13px;
    font-weight: 900;
    vertical-align: top;
    font-weight: bold;
    font-style: normal !important;
    text-transform: Small-Caps;
    }

.line {
    padding-left: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    font-family: Georgia;
    }
    
/* Audio
------------------------------------------------------------ */
.audio{
    display:block;
    padding: 5px;
    background: #FFF; 
    border: 7px double #E1E1E1;
    }
    
.cnt_audio_tabs {
    z-index: 3;
    width: 550px;
    }

.audio_info {
    color: #FFFFFF;
    width: 176px;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 8px;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: 'Verdana';
    background-color: #2D2B1F;
    }

/* Tubmlr Ask
------------------------------------------------------------ */
.ask_box {
    color: {color:Question Text Colour};
    font-size: 11px;
    background: {color:Question Box};
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    }

/* Images
------------------------------------------------------------ */
img, a img,
img:hover, a:hover img, a img:hover {
    border: 0px;
    text-decoration: none !important;
    border-bottom: none !important;
    background: none !important;
    }

/* Misc
------------------------------------------------------------ */
::selection {color:#FFF; background:{color:Link};}
::-moz-selection {color:#FFF; background:{color:Link};}
p::selection {color:#FFF; background:{color:Link};}
p::-moz-selection {color:#FFF; background:{color:Link};}  

p  {
    padding: 0 0px; 
    line-height: 1.5em; 
    margin: 1.5em 0;
    }   
    
.clear {
    clear: both; 
    display: block;
    overflow: hidden;
    visibility: hidden; 
    width: 0; 
    height: 0;
    }
    
small {
    font-size: 80%;
    text-shadow: none !important;
    }
    
b, strong  {
    font-weight: bold;
    }
    
i, em, italic {
    font-weight: normal;
    font-family: Georgia;
    font-style: italic !important;
    }    
    
ol, ul {
    padding: 5px 0 0 25px;
    } 
    
ul {
    list-style-type: Circle;
    }
    
ol {
    list-style-type: decimal-leading-zero;
    }
    
ul ul, ul ol, ol ol, ol ul {
    padding-bottom: 5px;
    }
    
blockquote {
    margin: 0 2.5em;
    padding: 0px 10px 0px 15px;
    border-left: 3px Solid {color:Border colour};
    }
    
blockquote img{
    max-width: 450px !important;
    max-height: auto !important; 
    height:auto !important; 
    margin: 0 0em; 
    padding: 0px; 
    overflow: hidden;
    }

p.read-more a {
    color: #FFF;
    font-size: 10px;
    background: #444;
    padding: 6px 14px;
    letter-spacing: 1px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    }
    
p.read-more a:hover {
    color: #444;
    background: {color:Border colour};
    }
    
#searchbar {
    width: 260px;
    }

#searchbar input.search_q {
    width: 255px;
    padding: 5px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    border: none !important;
    text-transform: uppercase;
    color: {color:Entry Title};
    outline: 0 none !important;
    font-family: 'Montserrat', sans-serif;
    background: transparent !important;
	}

/* Permalink Notes
------------------------------------------------------------ */
ol.notes {
    padding: 0px; 
    margin: 25px 0px; 
    list-style-type: none; 
    border-bottom: solid 1px #ccc;
    }
    
ol.notes li.note {
    padding: 6px; 
    border-top: solid 1px #ccc;
    }

ol.notes li img.avatar {
    display: none !important;
    }
	
ol.notes li a.more_notes_link {
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    }

.permalink_details {
    font-size: 9px;
    border-top: 1px dashed {color:Border colour};
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    }
    
.postnotes_box {
    max-height:250px;
    overflow:auto;
    background-color: #FFF;
    padding-bottom:10px;
    }

/* Pagination
------------------------------------------------------------ */
.pint {
    font-family:Lora;
    font-style:italic;
    font-size:12px;
    text-decoration: none !important;
    border: 0 !important;
    }

.pintpag, a.pintpag, .pintpag a {
    color: #000;
    font-size:19px;
    text-decoration: none !important;
    border: 0 !important;
    }
    
.permapint {
    font-family: Lora;
    font-style: italic;
    font-size: 12px;
    text-decoration: none !important;
    border: 0 !important;
    }

.permapint, a.permapint, .permapint a {
    color: #000;
    font-size: 12px;
    text-decoration: none !important;
    border: 0 !important;
    }

.pagination-box_wrap {
    width: auto;
    overflow: hidden;
    margin-bottom: 55px;
    }
    
.pagination-box {
    padding: 20px;
    overflow: hidden;
    background: #FFF;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    filter: alpha(opacity=55);
    opacity: 0.55; 
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    }

.perma_pagination-box_wrap {
    width: auto;
    overflow: hidden;
    margin-bottom: 55px;
    }
    
.perma_pagination-box {
    padding: 20px;
    overflow: hidden;
    background: #FFF;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    filter: alpha(opacity=55);
    opacity: 0.55; 
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    }
    
/* Footer - Credits
------------------------------------------------------------ */
#side_credits, #side_credits a, #side_credits a:hover  {
    color: #bbb;
    font-size: 10px ;
    font-family: 'Montserrat', sans-serif;
    }

    
/* Custom CSS
------------------------------------------------------------ */
{CustomCSS}

</style>

</head>


<body {block:IfDisableRightClick} onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;"{/block:IfDisableRightClick}> 

<div id="layout" role="main" class="clearfix" style="clear: both">

{block:IfShowHeaderImage}
<header role="banner">
  <center><a href="/"><div id="Header"></div></a></center>
</header>
{/block:IfShowHeaderImage}

<div id="sideinfo_wrap" role="complementary">

<div class="side_box">
<a href="/"><div class="Side-Header">{title}</div></a>
{block:Description}
<div class="bio">{Description}</div>
{/block:Description}
</div>

<div style="margin-bottom: 55px;"></div>
<a href="/">
<div class="side_linktabs">INDEX</div>
</a>

{block:IfShowAskLink}
<a href="/ask">
<div class="side_linktabs">MESSAGE</div>
</a>
{/block:IfShowAskLink}

{block:IfShowExtraPages}
{block:HasPages}{block:Pages}
<a href="{URL}"><div class="side_linktabs">{Label}</div></a>
{/block:Pages}{block:HasPages}
{/block:IfShowExtraPages}

{block:IfShowSubmitLink}
<a href="/submit">
<div class="side_linktabs">SUBMIT</div>
</a>
{/block:IfShowSubmitLink}

{block:IfShowCustomTabLinks}
{block:IfCustomTabLink01Title}
<a href="{text:Custom Tab Link 01}">
<div class="side_linktabs">{text:Custom Tab Link 01 Title}</div></a>
{/block:IfCustomTabLink01Title}

{block:IfCustomTabLink02Title}
<a href="{text:Custom Tab Link 02}">
<div class="side_linktabs">{text:Custom Tab Link 02 Title}</div></a>
{/block:IfCustomTabLink02Title}

{block:IfCustomTabLink03Title}
<a href="{text:Custom Tab Link 03}">
<div class="side_linktabs">{text:Custom Tab Link 03 Title}</div></a>
{/block:IfCustomTabLink03Title}
{/block:IfShowCustomTabLinks}

{block:IfShowCustomLinks}
<div class="side_linktabs">
<center>
<div id="nav_content">
<div class="top_tab_heading">EXPLORE</div></div>
<div class="nav_tabs">
<div class="top_tabs">
{block:IfLink01Title}
<a title="{text:Link 01 Title}" href="{text:Link 01}">
{text:Link 01 Title}</a>
{/block:IfLink01Title}
 
{block:IfLink02Title}
<a title="{text:Link 02 Title}" href="{text:Link 02}">
{text:Link 02 Title}</a>
{/block:IfLink02Title}
 
{block:IfLink03Title}
<a title="{text:Link 03 Title}" href="{text:Link 03}">
{text:Link 03 Title}</a>
{/block:IfLink03Title}
 
{block:IfLink04Title}
<a title="{text:Link 04 Title}" href="{text:Link 04}">
{text:Link 04 Title}</a>
{/block:IfLink04Title}

<div style="margin-bottom: 2px;"></div>

{block:IfLink05Title}
<a title="{text:Link 05 Title}" href="{text:Link 05}">
{text:Link 05 Title}</a>
{/block:IfLink05Title}
 
{block:IfLink06Title}
<a title="{text:Link 06 Title}" href="{text:Link 06}">
{text:Link 06 Title}</a>
{/block:IfLink06Title}
 
{block:IfLink07Title}
<a title="{text:Link 07 Title}" href="{text:Link 07}">
{text:Link 07 Title}</a>
{/block:IfLink07Title}
 
{block:IfLink08Title}
<a title="{text:Link 08 Title}" href="{text:Link 08}">
{text:Link 08 Title}</a>
{/block:IfLink08Title}
</div>
<!-- END OF 8 CUSTOM LINKS -->
</div>
<!-- END OF NAV TOGGLE TABS -->
</center>
</div>
{/block:IfShowCustomLinks}


{block:IfShowArchiveLink}
<a href="/archive">
<div class="side_linktabs">HISTORY</div>
</a>
{/block:IfShowArchiveLink}


{block:IfShowCurrentlyReading}
<div style="margin-bottom: 55px;"></div>
<div class="side_box">
  <div class="Side-Header">Currently Reading</div>
    <div class="Book-Title">{text:Book Title}</div>
  <center>
<a href="{text:Goodreads Book Link}" title="{text:Book Title} by {text:Book Author}" target="_blank"><img alt="{image:Book Cover}" class="Book-Cover" src="{image:Book Cover}"/></a>
  </center>
    <div class="Book-Author">by <b>{text:Book Author}</b></div>
     <div class="Book-Review">Rating:
<span class="Book-Review stars">{text:Rating Stars}</span></div>
</div>
{/block:IfShowCurrentlyReading}


{block:IfShowInstagramWidget}
  {block:IfIGWidgetUsername}
  <!-- start IG  -->
  <div style="margin-bottom: 55px;"></div>
    <div class="side_box">
       <div class="Side-Header">Instagram Gallery</div><BR />
         <iframe src="http://widget.stagram.com/in/{text:IG Widget Username}/?s=85&w=3&h=2&b=0&p=5" allowtransparency="false" frameborder="0" scrolling="no" class="igme" style="border:none;overflow:hidden;width: 300px; height: 170px;"></iframe> <!-- Webstagram - web.stagram.com -->
         <center>
            <p class="read-more">
            <a target="blank" href="http://instagram.com/{text:IG Widget Username}">@ &middot; {text:IG Widget Username}
            </a><p>
         </center>
     <!-- end IG  -->
    </div>
  {/block:IfIGWidgetUsername}
{/block:IfShowInstagramWidget}

{block:IfShowSearchBar}
  <div style="margin-bottom: 55px;"></div>
    <div class="side_box">
      <div id="searchbar">
        <form action="/search" method="get"> 
         <input class="search_q" type="search" name="q" placeholder="TO SEARCH, TYPE AND HIT ENTER" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value=='')this.value='';"  value="" />
        </form>
      </div>
  </div>
{/block:IfShowSearchBar}

<div style="margin-bottom: 55px;"></div>
   <div class="side_box" id="side_credits">
     <center>
       Template by <a target="_blank" href="http://coffeestainedbooks.tumblr.com/freebies/cn-themes">C.N.T</a><BR />
     {lang:Powered by Tumblr 2} 
    </center>
</div>
<BR>
</div><!-- END OF WHOLE SIDE INFO BAR -->



<div id="entry-content" class="clearfix" data-page-id="{CurrentPage}">
   {block:TagPage}
   <!--START OF TAG PAGE TITLE-->
      <div class="entry-box_wrap"><div class="entry-box">
      <span class="title">TAG RESULTS</span><BR>
      {lang:TagResultCount Posts tagged Tag 3}.
      </div></div>
   <!--END OF TAG PAGE TITLE-->
   {/block:TagPage}
    
   {block:SearchPage}
   <!--START OF SEARCH-->
      <div class="entry-box_wrap"><div class="entry-box">
      {block:SearchResults}
      <span class="title">SEARCH RESULTS</span><BR>
      {lang:Your search for SearchQuery returned SearchResultCount results}.
      {/block:SearchResults}
      {block:NoSearchResults}
      <span class="title">SORRY, NO SEARCH RESULTS FOUND</span>
      {/block:NoSearchResults}
      </div></div>
   <!--END OF SEARCH-->
   {/block:SearchPage}

   {block:Posts}
   <article id="post-{postID}" class="entry-{block:Text}type-text, {/block:Text}{block:Photo}type-photo, {/block:Photo}{block:Panorama}type-Panorama, {/block:Panorama}{block:Photoset}type-photoset, {/block:Photoset}{block:Quote}type-quote, {/block:Quote}{block:Link}type-link, {/block:Link}{block:Chat}type-chat, {/block:Chat}{block:Video}type-video, {/block:Video}{block:Audio}type-audio, {/block:Audio}{block:Answer}type-answer, {/block:Answer}{block:Tags}tag:{URLSafeTag}, {/block:Tags}"><div class="entry-box_wrap">
   <div class="entry-box">

   {block:Text}<!-- TEXT POST -->
    <article class="entry-text" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
       {block:Title}
        <div class="title"><a href="{Permalink}">{Title}</a></div>
       {/block:Title}{Body} 
       {block:More}
       <p class="read-more"><a href="{Permalink}" target="_blank">{lang:Read more}</a></p>
       {/block:More}  
      </article>
   {/block:Text} 

   {block:Photo}<!-- PHOTO POST -->
    <article class="entry-photo" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
       {LinkOpenTag}
       <center><img src="{PhotoURL-HighRes}" alt="{PhotoAlt}"/></center>
       {LinkCloseTag}
       {block:Caption}{Caption}{/block:Caption}   
       {block:More}
       <p class="read-more"><a href="{Permalink}" target="_blank">{lang:Read more}</a></p>
       {/block:More} 
      </article>
   {/block:Photo}

   {block:Panorama}<!-- PANORAMA POST -->
    <article class="entry-panorama" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
       {LinkOpenTag}
       <center><img src="{PhotoURL-Panorama}" alt="{PhotoAlt}"/></center>
       {LinkCloseTag}
       {block:Caption}{Caption}{/block:Caption}   
       {block:More}
       <p class="read-more"><a href="{Permalink}" target="_blank">{lang:Read more}</a></p>
       {/block:More} 
        <div style="padding: 2px; text-align:left;">
          <i>Panorama image details:-</i> 
          <u>width {PhotoWidth-Panorama}</u>
          <i>x</i> <u>height {PhotoHeight-Panorama}</u>
        </div>
      </article>
   {/block:Panorama}
   
   {block:Photoset}<!-- PHOTOSET POST -->
    <article class="entry-photoset" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
       <center>{Photoset-500}</center>
       {block:Caption}{Caption}{/block:Caption}   
       {block:More}
       <p class="read-more"><a href="{Permalink}" target="_blank">{lang:Read more}</a></p>
       {/block:More} 
      </article>
   {/block:Photoset}

   {block:Quote}<!--QUOTE POST-->
    <article class="entry-quote" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
      {block:Source}
        <div class="quoted">Quoted by -{Source}</div>
      {/block:Source}
        <div class="quote">{Quote}</div>
      </article>
   {/block:Quote}

   {block:Link}<!-- LINK POST -->
    <article class="entry-link" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
      <div class="link"><a href="{URL}" {Target}>{Name} &nbsp; &rarr;</a></div>
        {block:Description}<p>{Description}</p>{/block:Description}
      </article>
   {/block:Link}

   {block:Conversation}<!-- CONVERSATION POST -->
    <article class="entry-conversation" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
     {block:Title}
       <div class="title"><a href="{Permalink}">{Title}</a></div>
     {/block:Title}
       <div class="conversation_post">
        {block:Lines}
          <p class="{Alt}">
             {block:Label}
             <span class="label line{UserNumber}">{Label}</span>{/block:Label}
             <span class="line">{Line}</span>
         </p>{/block:Lines}
       </div>
      </article>
   {/block:Conversation}

   {block:Audio}<!-- AUDIO POST -->
    <article class="entry-audio" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}"> 
      <div class="cnt_audio_tabs">
       {block:TrackName}
         <div class="audio_info"><b>Track name:</b> {TrackName}</div>
       {/block:TrackName}
       {block:Artist}
         <div class="audio_info"><b>Artist:</b> {Artist}</div>
       {/block:Artist}
       {block:Album}
         <div class="audio_info"><b>Album:</b> {Album}</div>
       {/block:Album}
                  </div>
       <center><div class="audio">{AudioPlayerWhite}</div></center><BR>
       {block:Caption}{Caption}{/block:Caption}   
       {block:More}
        <p class="read-more"><a href="{Permalink}" target="_blank">{lang:Read more}</a></p>
       {/block:More} 
      </article>
   {/block:Audio}

   {block:Video}<!-- VIDEO POST -->
    <article class="entry-video" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
     <center><div class="video">{Video-500}</div></center>
        {block:Caption}{Caption}{/block:Caption}   
        {block:More}
         <p class="read-more"><a href="{Permalink}" target="_blank">{lang:Read more}</a></p>
        {/block:More} 
       </article>
    {/block:Video}

    {block:Answer}<!-- TUMBLR ASK POST -->
     <article class="entry-answer" id="post_{PostID}" data-postID="{PostID}" data-permalink="{Permalink}">
      <div class="ask_box">{Asker}: <b>{Question}</b></div>
       <br><div class="answer_box">{Answer}</div><BR>
        {block:More}
         <p class="read-more"><a href="{Permalink}" target="_blank">{lang:Read more}</a></p>
        {/block:More} 
       </article>
    {/block:Answer} 

    {block:IndexPage}
      {block:Date}
        <div class="entry-posted_info"><div class="entry-posted_date"> 
          <a href="{Permalink}" target="_blank">
            {ShortMonth} {DayOfMonth}{DayOfMonthSuffix} {ShortYear}</a>
              &nbsp;&bull;&nbsp;
                <a target="_blank" href="{Permalink}#notes">{NoteCountWithLabel}</a>
              {block:ifDisqusShortname}
              &nbsp;&bull;&nbsp;
              <a target="_blank" class="dsq-comment-count" href="{Permalink}#disqus_thread">Comments</a>
              <div class="clear"></div>
              {/block:ifDisqusShortname}
        </div></div>
       {/block:Date}
    {/block:IndexPage}

</div>


{block:PermalinkPagination}  
  <div class="permalink_details">
    {block:Date}
      Posted on: {DayOfWeek}, {DayOfMonthWithZero} {Month} {Year} 
     {/block:Date}
     {block:NoteCount} 
       || with {NoteCountWithLabel}
     {/block:NoteCount}<BR>
     {block:HasTags}
       Tags: {block:Tags}<a href="{TagURL}" target="_blank">{Tag}</a>,
       {/block:Tags}<BR>
     {/block:HasTags}
     {block:RebloggedFrom}
       Reblogged from: <a href="{ReblogParentURL}" target="_blank">{ReblogParentName}</a> &nbsp;
        Originally posted by: <a href="{ReblogRootURL}" target="_blank">{ReblogRootName}</a>
    {/block:RebloggedFrom}
  </div>
{/block:PermalinkPagination}
    
        
       </div>
   </article>
 {/block:Posts}

{block:PermalinkPagination}
    <div class="perma_pagination-box_wrap">
    <div class="perma_pagination-box">
<center><div class="pint">
    {block:PreviousPost}
       <div style="float: left;"> 
       <a class="permapint" href="{PreviousPost}">&#171; View previous post</a>
       </div>
    {/block:PreviousPost}
    {block:NextPost}
      <div style="float: right;">
       <a class="permapint" href="{NextPost}">View next post &#187;</a>
       </div>
    {/block:NextPost}
</div></center>
     </div></div>
{/block:PermalinkPagination}

{block:PermalinkPagination}
<!-- DISQUS -->
{block:ifDisqusShortname}
<div class="entry-box_wrap">
  <div class="entry-box">
  <a name="disqus_thread"></a>
<script type="text/javascript">var disqus_url = "{Permalink}"; var disqus_title ="{block:PostTitle}{PostTitle}{/block:PostTitle}";</script>{block:Permalink}
<div class="title">COMMENTS</div><br>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
     * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
     */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://{text:Disqus Shortname}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={text:Disqus Shortname}">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink" style="display: block; text-align: center;">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{/block:Permalink}<script type="text/javascript">
var disqus_shortname = '{text:Disqus Shortname}';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/{text:Disqus Shortname}/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
</div></div>
{/block:ifDisqusShortname}
<!-- END OF DISQUS -->
{/block:PermalinkPagination}

{block:PostNotes}
<div class="entry-box_wrap">
  <div class="entry-box">
  <a name="notes"></a>
   <div class="title">POST NOTES</div>
    <div class="postnotes_box">
        <article class="notebox">
          {PostNotes}
        </article>
    </div>
           {block:ContentSource}
            <div class="permalink-resource">
            <br>Content Source:<a href="{SourceURL}">{SourceLink}</a></div>
           {/block:ContentSource}
    </div></div>
{/block:PostNotes}


</div><!-- END OF ENTRY CONTENT -->


<br style="clear:both;" class="clearfix">
<br class="clear" />

<div class="footer">
    <footer id="bottom" role="contentinfo" class="content clearfix">
    {block:Pagination}
    <div class="pagination-box_wrap">
    <div class="pagination-box"><center><div class="pint">
    {block:PreviousPage}
       <div style="float: left;"> 
       <a class="pintpag" href="{PreviousPage}">&#171;</a>
       </div>
    {/block:PreviousPage}

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
       {lang:Page CurrentPage of TotalPages}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
    
    {block:NextPage}
       <div style="float: right;">
        <a class="pintpag" href="{NextPage}">&#187;</a>
       </div>
    {/block:NextPage}
</div></center></div></div>
{/block:Pagination}
    </footer>
</div>
      </div><!-- END OF LAYOUT -->
      
       {block:IfDisableRightClick}
       <!-- DISABLE RIGHT CLICK OPTION UPLOADED BY CNT -->
       <script type="text/javascript" src="http://static.tumblr.com/qvqnij2/QxNmuyx0v/coffeenutsthemes-dot-tumblr-dot-com.js"></script>
       {/block:IfDisableRightClick}
       {block:IfFadeImages}
       <!-- IMGS OPTION UPLOADED BY CNT -->
      <link rel="stylesheet" type="text/css" media="all" href="http://static.tumblr.com/qvqnij2/vznn7vghr/fadeimgs.css" /> 
       {/block:IfFadeImages}
       {block:IfScrollToTop}
       <!-- SCROLL TO TOP UPLOADED BY CNT -->
       <script type="text/javascript" src="http://static.tumblr.com/qvqnij2/ivVmvb4wn/to_top_v2.js"></script>
       {/block:IfScrollToTop}
       <!-- VIDEO SCRIPTS UPLOADED BY CNT -->
       <script type="text/javascript" src="http://static.tumblr.com/qvqnij2/GQVmuwuz7/cnt_video_iframes.js"></script>
       <script type="text/javascript" src="http://static.tumblr.com/qvqnij2/dSXmuwv28/cnt_video_width_fix.js"></script>
       <!-- PHOTOSET RESIZE  -->
       <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
       <script type="text/javascript">
       /* Photoset Resize Code by Kevin - EXCOLO.TUMBLR.COM */
       $(document).ready(function() {
           function photosetResize() {
               $('iframe.photoset').each(function(){
                   var newSize = 550;
                   var newSrc = $(this).attr('src').replace('500',newSize);
                   $(this).attr('src', newSrc).width(newSize);        
                   var high = $(this).css('height');
                   var calculate = parseInt(high, 10)* newSize/500;
                   $(this).css('height', calculate);
                   });}photosetResize();
                   $('#nav_content').click(function() {
                       $('.nav_tabs').slideToggle('slow');
                       return false;
                       });
                       });
        </script>
     <!-- TUMBLR TEMPLATE BY COFFEENUTSTHEMES || POWERED BY TUMBLR || DO NOT REMOVE ANY CREDITS -->
   </body>
</html>
